<!-- main_app>templates>home.html -->
{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero">
  <img src="{% static 'images/wellNestLogo.svg' %}" alt="WellNest Logo" class="home-hero-img">
</section>

<section class="home-intro">

  <h1> Welcome to <span>WellNest</span></h1>

  <p class="intro-text">
    WellNest is your soft place to land.
    <br>
    Growth is quiet here — gentle, honest, real.
    <br>
    You’re welcome, just as you are.
  </p>

      <a href="{% url 'signup' %}" class="btn-start">Start Your Journey</a>

</section>

{% endblock %}