{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero">
  <img src="{% static 'images/wellNestLogo.svg' %}" alt="WellNest Logo" class="home-hero-img">
</section>

<section class="home-intro">
  <h1> Welcome to WellNest </h1>
  <p class="intro-text">
    WellNest is your soft place to land.
    <br>
    Growth is quiet here — gentle, honest, real.
    <br>
    You’re welcome, just as you are.
  </p>

      <a href="#" class="btn-start">Start Your Journey</a>

      {% if not user.is_authenticated %}
      <section>
        <form action="{% url 'home' %}" method="post" class="login">
          <h1>Login</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}">
          <button type="submit" class="btn submit">Login</button>
        </form>
      </section>
  {% endif %}
    </section>

{% endblock %}