{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/habits/habit-index.css' %}">
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>Your rhythm, Your pace, Your space. And you're right on time.</h1>
  <img src="{% static 'images/whiteNestHouse.svg' %}" alt="WellNest House Logo" class="tiny-logo">
</section>

<section class="habit-groups">
  <fieldset class="habit-group">
    <legend class="habit-legend">Healthy Habits</legend>

    <div class="section-actions">
      <a href="{% url 'habit-create' %}" class="btn-solid small-btn">+ Add Habit</a>
    </div>

    <div class="card-container">
      {% for habit in habits %}
          <a href="{% url 'habit-detail' habit.id %}" class="card">
            <div class="card-content">
              <h3 class="card-title">{{ habit.title }}</h3>
              <p><strong>Frequency:</strong> {{ habit.frequency }}</p>
              <p>{{ habit.description }}</p>
              <p><small>Started on: {{ habit.created_at }}</small></p>
            </div>
          </a>
      {% endfor %}
    </div>
  </fieldset>


</section>
{% endblock %}
