{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/resources/headspace_extras.css' %}">
{% endblock %}

{% block content %}
<section class="headspace-section">
    <h1>Gentle Workouts</h1>
    <p>Movement doesn’t have to be intense to be healing. Here you’ll find light routines designed to refresh your energy, loosen tension, and support your mind-body connection. Try stretching, yoga, or mindful walks to start.</p>
  </section>
{% endblock %}